// Menu button and functionality 

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    // Menu bar transforms into an X
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
                background: $secondary-color;
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
                background: $secondary-color;
            }

        }
    }
}

// Menu overlay
.menu {
    // Default 
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    // On click
    &.show {
        visibility: visible;
    }

    // Text on the top bar
    &-branding, &-nav {
        display: flex;
        flex-flow: row wrap; 
        align-items: left;
        justify-content: left;
        float: left;
        position: fixed;
        height: 11vh;
        overflow: hidden;
    }

    // Top text bar characteristics 
    &-nav {
        z-index: 3;
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        background: $bar-color;
        list-style: none;
        transform: translate3d(100%, 0, 0);
        @include easeOut;

        // Slide in from right on click
        &.show {
            transform: translate3d(5%, 0, 0);
        }
    }

    // Logo bar characteristics 
    &-branding {
        z-index: 4;
        width: 6%;
        background: $bar-color;
        transform: translate3d(-100%, 0, 0);
        @include easeOut;

        // Slide in from left on click
        &.show {
            transform: translate3d(0, 0, 0);
        }
        
        // Logo
        .portrait {
            width: 11vh;
            height: 11vh;
            background: url('../img/eren-logo-hex4-smallest.jpg');
        }

    }

    // Each item/link in the menu
    .nav-item {
        transform: translate3d(1200px, 0, 0);
        @include easeOut;

        // Slashes for screens that are greater than that of a tablet
        @media (min-width: 769px) {
            // Adding the slashes in between the links, but not the last
            a[required]::after {
                padding-left: 3vh;
                content: "/";
                color: $secondary-color;
                font-weight: 500;
            }
        }

        // Slide in from right on click
        &.show {
            transform: translate3d(0, 0, 0);
        }

        // Current link has its own colour
        //&.current > a {
        //    color: $secondary-color;
        //}
    }

    // Link style
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: lowercase;
        padding: 1rem;
        font-weight: 300;
        color: $text-color;
        text-decoration: none;
        @include easeOut;

        // Change colour on hover
        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}