// Menu Button

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #f6f6f6;
        @include easeOut;
    }

    // Menu bar transforms into an X
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
                background: $secondary-color;
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
                background: $secondary-color;
            }

        }
    }
}

// Menu overlay
.menu {
    // Default 
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    // On click
    &.show {
        visibility: visible;
    }

    // Text on the side bar
    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap; // /row
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    // Side bar characteristics 
    &-nav {
        margin: 0;
        padding: 0;
        //background: $bar-color;
        background: rgba($bar-color, 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            // Slide in from top on click
            transform: translate3d(0, 0, 0);
        }
    }

    // Branding side characteristics 
    &-branding {
        background: rgba(darken($primary-color, 1), 0.9);
        //background: darken($primary-color, 1);
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            // Slide in from bottom on click
            transform: translate3d(0, 0, 0);
        }

        // Logo
        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/eren-logo3.jpg');
            //background: url('../img/projects/HanSolo3.jpg');
            border-radius: 50%; // Makes it a circle
            border: solid 3px $secondary-color;
        }
    }
}