// Making the site responsive to all screen sizes 

// Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

// Desktop/laptop
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

// Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        position: static;
        overflow: hidden;
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        padding: 0;
        transform: translate3d(100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(-100%, 0, 0);
    }

    // About page rescaling 
    .about-info {
        grid-template-areas:
        'bioimage'
        'bio'
        'hobby1'
        'hobby2'
        'hobby3'; // Orientation

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Phones
@include mediaSm {
    main {
        padding: 0;
    }

    .menu-branding {
        // Rescale logo for smaller screen sizes
        .portrait {
            height: 50px;
            width: 50px;
            background: url('../img/eren-logo-hex4-small.jpg');
        }
    }

    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-gap: 2rem;
        grid-template-columns: 1fr;
    }

    .boxes-resume {
        margin-top: 14rem;
        margin-bottom: 14rem;
    }

    .boxes-contact {
        margin-top: 5rem;
        margin-bottom: 0;
    }
    
}