@import 'config';
@import 'menu';
@import "stylesheet.css";

html.sr .load-hidden {
    visibility: hidden;
  }

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-family: 'roboto_mono_lightregular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/

    /* Fonts:
    robotoregular
    roboto_lightregular

    roboto_monoregular
    roboto_mono_lightregular */

    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading, &.sm-heading-top {
        margin-bottom: 2rem;
    }

}

// Link icons
a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

// Top bar
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

// Secondary Text
.text-secondary {
    color: $secondary-color;
}

// Main (icons, headings)
main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px); // Makes sure the 60px footer stays at the bottom
    //margin-top: 20vh;

    // Icons
    .icons {
        margin-top: 1rem;
        margin-bottom: 30rem;

        a {
            padding: 0.4rem;

            // Change colour on hover
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    // Moves the main text lower by 20vh 
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }

}


// Styling for the about page
.about-info { 
    display: grid;
    //margin-top: 50rem;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'hobby1 hobby2 hobby3'; // orientation
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        //border-radius: 50%; // Makes the image circular
        border: $secondary-color 3px solid;
    }
    
    .bio { 
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .hobby-1 {
        grid-area: hobby1;
    }
    
    .hobby-2 {
        grid-area: hobby2;
    }
    
    .hobby-3 {
        grid-area: hobby3;
    }
    
    // Style for the hobby sections
    .hobby {
        background: lighten($bar-color, 7); //$bar-color; or prim color, 5
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}


.experience {
    // display: grid;
    // grid-gap: 30px;
    // grid-template-columns: repeat(3, 1fr);

    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'company1 company1-image'
    'company2 company3'; // orientation
    grid-template-columns: repeat(2, 1fr);

    .company-1 {
        grid-area: company1;
    }

    .company-1-image {
        grid-area: company1-image;
        margin: auto;
        border: $secondary-color 3px solid;
    }
    
    .company-2 {
        grid-area: company2;
    }
    
    .company-3 {
        grid-area: company3;
    }

    .company {
        background: lighten($bar-color, 7); //$bar-color; or prim color, 5
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;

        .list {
            list-style: none;
        }
    
        .list li::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $secondary-color;
            font-weight: bold; 
            display: inline-block;
            width: 1.2em;
            margin-left: -2em;
        }
    }

}

.hover-animation {
    width: 100%;
    height: 250px;
    display: inline-block;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center;
    border: 3px $secondary-color solid;
    position: relative;
    overflow: hidden;
}

.one {
    background-image: url('../img/projects/DayZero2.png');
}

.two {
    background-image: url('../img/projects/Devito3.png');
}

.three {
    background-image: url('../img/projects/wiki-solver4.gif');
}

.four {
    background-image: url('../img/projects/battleship3.png');
}

.five {
    background-image: url('../img/projects/hanoi.gif');
}

.six {
    background-image: url('../img/projects/tron.png');
}

.seven {
    background-image: url('../img/projects/cvect.png');
}

.eight {
    background-image: url('../img/projects/data-graph-2.png');
}

.nine {
    background-image: url('../img/projects/trivia.png');
}

.ten {
    background-image: url('../img/projects/generator.png');
}

.eleven {
    background-image: url('../img/projects/csgo.png');
}

.hover-animation:before,
.hover-animation:after {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    position: absolute;
    background: inherit;
    transition: .3s;
}

.hover-animation:after {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: lighten($bar-color, 7);
    transform: translateY(100%);
    content: attr(data-text);
}

.hover-animation:hover:before {
    transform: translateY(-50%);
}

.hover-animation:hover:after {
    transform: translateY(0);
}

// Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 1fr; // 1 grid on horizontal OLD3 grids on one horizontal axis

    // Adjustments for images 
    img {
        width: 100%;
        border: 3px #f6f6f6 solid;

        /* OLD FADE IN EFFECT 
       // Effect on hover
       &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }*/
    }
}

// Resume page
.boxes-resume {
    // Note: might want to use grid here
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20rem;
    margin-bottom: 20rem;

    div {
        font-size: 1.5rem;
        border: 3px #f6f6f6 solid;
        padding: 1.5rem 1.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            //padding: 0.5rem 1.5rem; // changes size on hover to shrink
            background: $secondary-color;
            color: set-text-color($secondary-color);

            // Adjusts the red text colour so it can be seen
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// Contact Page
.boxes-contact {
    // Note: might want to use grid here
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;

    div {
        font-size: 1.5rem;
        border: 3px #f6f6f6 solid;
        padding: 1.5rem 1.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);

            // Adjusts the red text colour so it can be seen
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// Button Styles 
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    @include easeOutFast;

    // Effect on hover
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 5);
    color: #f6f6f6;
}

.btn-light {
    @extend .btn;
    background: #f6f6f6;
    color: $bar-color;
}

.img-description-layer {
    background: rgba(36, 62, 206, 0.6);
    color: #f6f6f6;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: $bar-color;
    color: set-text-color($bar-color);
    height: 60px;

    &:hover {
        span {
            color: $secondary-color;
            @include easeOutFast;
        }
    }
}

@import 'mobile';