@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
    }
}

// Link icons
a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

// Top bar
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

// Secondary Text
.text-secondary {
    color: $secondary-color;
}

// Main (icons, headings)
main {
    padding: 4rem;
    height: 100%;

    // Icons
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            // Change colour on hover
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    // Moves the main text lower by 20vh (might have to change to rem)
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// Styling for the about page
.about-info { 
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'hobby1 hobby2 hobby3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        //border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio { 
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .hobby-1 {
        grid-area: hobby1;
    }
    
    .hobby-2 {
        grid-area: hobby2;
    }
    
    .hobby-3 {
        grid-area: hobby3;
    }
    
    .hobby {
        background: lighten($bar-color, 7); //$bar-color; or prim color, 5
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: $bar-color;
    color: set-text-color($bar-color);
    height: 60px;
}