$primary-color: #232323;

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: #f6f6f5;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
